body{
	margin: 0;
	background-image:url("bg1.jpg");
	width: 100%;
}

#wrapper{
	margin: 2%;
	width: 95%;
}

/* Menu */

div #nav ul {
	text-align: center;
	margin: 2% 0;
}

#nav ul li{
	display: inline;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1.3em;
	padding: 1%;
	
}

#nav a:link, a:visited {
	text-decoration: none;
	color: black;
}
#nav a:hover {
	text-decoration: none;
	color: #999;
}
#nav a:active {
	text-decoration: none
}

/* Conteudo */

#content {
	margin: 2%;
	overflow: auto;
	/*border: 1px black solid;
*/}

#content .col {
	float: left;
	width: 42%;
	border: 1px black solid;
	padding: 2%;
	margin-left: 2.8%;
}
